body > ytd-app > #content > #page-manager > ytd-watch-flexy >
#columns > #primary > #primary-inner > #below > #comments {
    display: none;
}

body > ytd-app > #content > #page-manager > ytd-watch-flexy >
#columns > #secondary > #secondary-inner {
    display: none;
}

body > ytd-app > #content > #page-manager > ytd-watch-flexy {
    --ytd-watch-flexy-sidebar-min-width: 0px;
    --ytd-watch-flexy-sidebar-width: 0px;
}

body > ytd-app > #content > ytd-page-manager > ytd-watch-flexy > 
#columns > #primary > #primary-inner > #below > #related {
    display: none;
}

body > ytd-app {
    background-color: #000000;
}

body > ytd-app > #content > #masthead-container > ytd-masthead > #container {
    background-color: #000000;
}